#owl-demo .item img{
        display: block;
		width:auto;  
        max-width:100% !important;

      /*  width: 100%;*/
        height: auto;
		max-height:450px;
		border: 0px solid #959595;
    }


#owl-demo2 .item img{
       display: block;
        width: 100%;
        height: auto;
		
		
    }


.owl-carousel .item  img{
       display: block;
        width: 100%;
        height: auto;
		border: 1px solid #959595;
		
    }

	
#owl-demo .title{
    font-family: Tahoma, Verdana, Arial;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
	margin-top: -20px;
	color:#000000;/*FFFFFF*/
	background-image: url('../../imagenes/fondotransparente.png');

	background-size: 100% 100%;
}

.barracontroles{
    text-align: center;
	margin-top: -27px;
	color:#FFFFFF;
	
	background-color:#444444;
    
    
	
}


.fondotextocarrusel {
  /*color:#000000; 
  opacity: 0.5;
  filter:  alpha(opacity=50);
  font-family: Tahoma, Arial , Verdana;*/
  padding-top:2px;
  font-family: Arial, Tahoma, Verdana;font-size: 14px;
  color:#9a9999;
  text-align:center;
  font-weight:normal;
  
  
  
}	
	
.owl-prev,
.owl-next {
position: absolute;
top: 40%; /*50%*/
	
	/*background: #869791;*/
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	/*-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;*/
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
.owl-prev {
left: 0;
}
.owl-next {
right: 0;
}
