/*azul*/
.enlaceboton
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  padding: 6px; 
  color:#ffffff;

  border: 1px solid #2fc7f7;
  background-color:#2fc7f7;
  width:auto;
  height:auto;
  min-height:40px;
  min-width:50px;
  text-decoration:none;
  
}

.enlaceboton:link,
.enlaceboton:visited
{
  border: 1px solid #2fc7f7;
  text-decoration:none;
}
.enlaceboton:hover
{
  border: 1px solid #2fc7f7;
  background-color:#68ddff;
  text-decoration:none;
}


/*fin azul*/

/*boton naranja*/
.enlacebotonnaranja
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  padding: 6px; 
  color:#ffffff;

  border: 1px solid #f85616;
  background-color:#fb6625;
  width:auto;
  height:auto;
  min-height:40px;
  min-width:50px;
  text-decoration:none;
  
}

.enlacebotonnaranja:link,
.enlacebotonnaranja:visited
{
  border: 1px solid #f85616;
  text-decoration:none;
}
.enlacebotonnaranja:hover
{
  border: 1px solid #f85616;
  background-color:#d94506;
  text-decoration:none;
}


/*fin naranja*/

.enlacebotonconborde
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: verdana, arial, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  padding: 6px; 
  color:#ffffff;

  border: 2px solid #ffffff;
  background-color:#ff4814;
  width:auto;
  height:auto;
  min-height:40px;
  min-width:50px;
  text-decoration:none;
  
}

.enlacebotonconborde:link,
.enlacebotonconborde:visited
{
  border: 2px solid #ffffff;
  text-decoration:none;
}
.enlacebotonconborde:hover
{
  border: 2px solid #ffffff;
  background-color:#2fc7f7;
  text-decoration:none;
}



.enlacebotonconborde2
{
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;

  font-family: Tahoma, Verdana, Arial;/*verdana, arial, sans-serif;*/
  font-size: 7pt;
  font-weight: normal;
  padding: 6px; 
  color:#009124;

  border: 1px solid #009124;
  /*background-color:#ff4814;*/
  width:auto;
  height:auto;
  min-height:36px;
  min-width:50px;
  text-decoration:none;
  
}

.enlacebotonconborde2:link,
.enlacebotonconborde2:visited
{
  border: 1px solid #009124;
  text-decoration:none;
}
.enlacebotonconborde2:hover
{
  border: 1px solid #009124;
  background-color:#2fc7f7;
  text-decoration:none;
  color:#ffffff;
}

.enlacebotonconborde3
{
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;

  font-family: verdana, arial, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  padding: 6px; 
  color:#ff6633;
  margin:10px;
  border: 1px solid #ff6633;
  /*background-color:#ff4814;*/
  width:auto;
  height:auto;
  min-height:38px;
  min-width:60px;
  text-decoration:none;
  
}

.enlacebotonconborde3:link,
.enlacebotonconborde3:visited
{
  border: 1px solid #ff6633;
  text-decoration:none;
}
.enlacebotonconborde3:hover
{
  border: 1px solid #ff6633;
  background-color:#2fc7f7;
  text-decoration:none;
  color:#ffffff;
}



.enlacebotoninicio
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: Arial,Tahoma, Verdana;
  font-size: 10pt;
  font-weight: normal;
  padding: 6px; /*3px*/ 
  color:#ffffff;

  padding-left:52px; /*36 56*/
  padding-right:52px;

  border: 1px solid #ff4814;
  background-color:#ff4814;
  width:auto;
  height:auto;
  min-height:42px; /*36*/
  min-width:100px;
  text-decoration:none;
  
}

.enlacebotoninicio:link,
.enlacebotoninicio:visited
{
  border: 1px solid #ff4814;
  text-decoration:none;
}
.enlacebotoninicio:hover
{
  border: 1px solid #ff4814;
  background-color:#2fc7f7;
  text-decoration:none;
}


.enlacebotoncontinuar
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: Arial,Tahoma, Verdana;
  font-size: 10pt;
  font-weight: normal;
  padding: 6px; /*3px*/ 
  color:#ffffff;

  padding-left:36px; /*36 56*/
  padding-right:36px;

  border: 1px solid #ff4814;
  background-color:#ff4814;
  width:auto;
  height:auto;
  min-height:42px; /*36*/
  min-width:100px;
  text-decoration:none;
  
}

.enlacebotoncontinuar:link,
.enlacebotoncontinuar:visited
{
  border: 1px solid #ff4814;
  text-decoration:none;
}
.enlacebotoncontinuar:hover
{
  border: 1px solid #ff4814;
  background-color:#2fc7f7;
  text-decoration:none;
}

.enlacebotondirecciones
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: Arial,Tahoma, Verdana;
  font-size: 10pt;
  font-weight: normal;
  padding: 6px; /*3px*/ 
  color:#ffffff;

  padding-left:16px; /*36 56*/
  padding-right:16px;

  border: 1px solid #ff4814;
  background-color:#ff4814;
  width:auto;
  height:auto;
  min-height:42px; /*36*/
  min-width:100px;
  text-decoration:none;
  
}

.enlacebotondirecciones:link,
.enlacebotondirecciones:visited
{
  border: 1px solid #ff4814;
  text-decoration:none;
}
.enlacebotondirecciones:hover
{
  border: 1px solid #ff4814;
  background-color:#2fc7f7;
  text-decoration:none;
}



.enlacebotonbarraapp
{
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;

  font-family: Arial,Tahoma, Verdana;
  font-size: 10pt;
  font-weight: bold;
  padding: 3px; /*3px*/ 
  color:#666666;

  padding-left:10px; /*36 56*/
  padding-right:10px;

  border: 1px solid #ec8d00; /* ffa928 ff9900*/
  background-color:#ec8d00;
  width:auto;
  height:auto;
  min-height:24px; /*36*/
  min-width:64px;
  text-decoration:none;
  
}

.enlacebotonbarraapp:link,
.enlacebotonbarraapp:visited
{
  border: 1px solid #ec8d00;
  text-decoration:none;
}
.enlacebotonbarraapp:hover
{
  border: 1px solid #2fc7f7;
  background-color:#2fc7f7;
  text-decoration:none;
}

.enlacebotonbarraapp2
{
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;

  font-family: Arial,Tahoma, Verdana;
  font-size: 10pt;
  font-weight: bold;
  padding: 3px; /*3px*/ 
  color:#000000;

  padding-left:10px; /*36 56*/
  padding-right:10px;

  border: 1px solid #ffffff;
  background-color:#ffffff;
  width:auto;
  height:auto;
  min-height:24px; /*36*/
  min-width:64px;
  text-decoration:none;
  
}

.enlacebotonbarraapp2:link,
.enlacebotonbarraapp2:visited
{
  border: 1px solid #ffffff;
  text-decoration:none;
}
.enlacebotonbarraapp2:hover
{
  border: 1px solid #2fc7f7;
  background-color:#2fc7f7;
  text-decoration:none;
}

.enlacebotonbarraappsucursal
{
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;

  font-family: Arial,Tahoma, Verdana;
  font-size: 10pt;
  font-weight: normal;
  padding: 3px; /*3px*/ 
  color:#ffffff;

  padding-left:10px; /*36 56*/
  padding-right:10px;

  border: 1px solid #ff4814;
  background-color:#ff4814;
  width:auto;
  height:auto;
  min-height:24px; /*36*/
  min-width:64px;
  text-decoration:none;
  
}

.enlacebotonbarraappsucursal:link,
.enlacebotonbarraappsucursal:visited
{
  border: 1px solid #ff4814;
  text-decoration:none;
}
.enlacebotonbarraappsucursal:hover
{
  border: 1px solid #ff4814;
  background-color:#2fc7f7;
  text-decoration:none;
}

.enlacebotontransparente
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  padding: 3px; 
  color:#ff4814;

  padding-left:36px;
  padding-right:36px;

  /*border: 1px solid #9a9a9a;
  background-color:#9a9a9a;*/
  width:auto;
  height:auto;
  min-height:36px;
  min-width:100px;
  text-decoration:none;
  
}

.enlacebotontransparente:link,
.enlacebotontransparente:visited
{
  /*border: 1px solid #9a9a9a;*/
  text-decoration:none;
}
.enlacebotontransparente:hover
{
  /*border: 1px solid #9a9a9a;
  background-color:#2fc7f7;*/
  text-decoration:none;
}


/*boton editar pequeno gris*/
.enlacebotonpequeno
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: tahoma,arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  padding: 2px; 
  color:#000000;

  border: 1px solid #aaaaaa;
  background-color:#dddddd;
  width:auto;
  height:auto;
  min-height:20px;
  min-width:40px;
  text-decoration:none;
  
}

.enlacebotonpequeno:link,
.enlacebotonpequeno:visited
{
  border: 1px solid #aaaaaa;
  text-decoration:none;
}
.enlacebotonpequeno:hover
{
  border: 1px solid #cccccc;
  background-color:#bbbbbb;
  color:#333333;
  text-decoration:none;
}
/*fin naranja*/

/*azul oscuro*/
.enlacebotonazul40px
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: tahoma,arial, verdana, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  padding: 0px; 
  color:#ffffff;
  padding-top:3px;
  padding-bottom:5px;

  border: 1px solid #ff4814;
  background-color:#ff4814;
  width:auto;
  height:40px;
  min-height:40px;
  min-width:140px;
  text-decoration:none;
  
}

.enlacebotonazul40px:link,
.enlacebotonazul40px:visited
{
  border: 1px solid #ff4814;
  text-decoration:none;
}
.enlacebotonazul40px:hover
{
  border: 1px solid #68c2e6;
  background-color:#68c2e6;
  text-decoration:none;
}

/*fin azul oscuro*/



/*azul oscuro*/
.enlacebotonazul60px
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: tahoma,arial, verdana, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  padding: 0px; 
  color:#ffffff;
  padding-top:3px;
  padding-bottom:5px;

  border: 1px solid #ff4814;
  background-color:#ff4814;
  width:auto;
  height:40px;
  min-height:40px;
  min-width:140px;
  text-decoration:none;
  
}

.enlacebotonazul60px:link,
.enlacebotonazul60px:visited
{
  border: 1px solid #ff4814;
  text-decoration:none;
}
.enlacebotonazul60px:hover
{
  border: 1px solid #68c2e6;
  background-color:#68c2e6;
  text-decoration:none;
}

/*fin azul oscuro*/


.enlaceboton2azul40px
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: tahoma,arial, verdana, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  padding: 0px; 
  color:#ffffff;
  padding-top:3px;
  padding-bottom:5px;

  border: 1px solid #0000ff;
  background-color:#0000ff;
  width:auto;
  height:40px;
  min-height:40px;
  min-width:140px;
  text-decoration:none;
  
}

.enlaceboton2azul40px:link,
.enlaceboton2azul40px:visited
{
  border: 1px solid #0000ff;
  text-decoration:none;
}
.enlaceboton2azul40px:hover
{
  border: 1px solid #68c2e6;
  background-color:#68c2e6;
  text-decoration:none;
}

/*fin azul oscuro*/

.enlaceboton2azul60px
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: tahoma,arial, verdana, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  padding: 0px; 
  color:#ffffff;
  padding-top:3px;
  padding-bottom:5px;

  border: 1px solid #0000ff;
  background-color:#0000ff;
  width:auto;
  height:40px;
  min-height:40px;
  min-width:140px;
  text-decoration:none;
  
}

.enlaceboton2azul60px:link,
.enlaceboton2azul60px:visited
{
  border: 1px solid #0000ff;
  text-decoration:none;
}
.enlaceboton2azul60px:hover
{
  border: 1px solid #68c2e6;
  background-color:#68c2e6;
  text-decoration:none;
}

/*fin azul oscuro*/


.enlaceboton3azul40px
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: tahoma,arial, verdana, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  padding: 0px; 
  color:#ffffff;
  padding-top:3px;
  padding-bottom:5px;

  border: 1px solid #0000ff;
  background-color:#0000ff;
  width:auto;
  height:40px;
  min-height:40px;
  min-width:140px;
  text-decoration:none;
  
}

.enlaceboton3azul40px:link,
.enlaceboton3azul40px:visited
{
  border: 1px solid #0000ff;
  text-decoration:none;
}
.enlaceboton3azul40px:hover
{
  border: 1px solid #68c2e6;
  background-color:#68c2e6;
  text-decoration:none;
}

/*fin azul oscuro*/
