
* {
	padding:0;
	margin:0;
	
}

html, body {
   -webkit-overflow-scrolling: touch;
}

header {
	width:100%;
}

header nav {
	width:100%;
	height:150px;
	margin:auto;
	max-width:1366px;
	
	
}


.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
	overflow:hidden;
}

header nav ul li {
	float: left;
}

header nav ul li span {
	margin-right:10px;
}

header nav div ul li  a{
	display:block;
	padding:20px;
	color:#fff;
	text-decoration:none;
}

header nav div ul li  a:hover {
	background:#037E8C;
}

header nav ul li div a img {
	width: 100%;
    height: 100%;
	border: 1px solid red;
}

section {
	padding:20px;
}



.capafondocontactanos
  {
    width: 100%;
    height: auto;
    background-image: url('../../imagenes/fondocontactanos.jpg');    
    background-size: 100% 100%;
  
    border: none;
  }
  
.capafondocontactanosing
  {
    width: 100%;
    height: auto;
    background-image: url('../../imagenes/fondocontactanosing.jpg');    
    background-size: 100% 100%;
  
    border: none;
}



.imgbotnav
{
  width:100%;
  max-width:105px;
  margin-top:50px;
  border:0px;
}

.imglogobarra
{
  width:100%;
  max-width:232px;
  margin-top:25px;  
}


.imgcontactenos
{
  width:100%;
  max-width:138px;
  margin-left:30px;
  margin-top:-15px;  
}

.imgredessociales
{
  width:100%;
  max-width:45px;
  margin-left:30px;
  margin-top:-22px;
  border:0px;  
}

.txtbuscar
{
  width:100%;
  height:auto;
  
  max-width:150px;
  max-height:30px;
  min-height:30px;
  
  margin-top:50px;
  
      
  -khtml-border-radius: 10px; 
  -ms-border-radius: 10px; 
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
    
}


.contenedor-tabla
{
  display: table;
}

.contenedor-fila
{
  display: table-row;
}

.contenedor-columna
{
  display: table-cell;
}

.capamenummovil
{
display:none;
  width:80%;
		height:100%;
		margin:0;
		position: relative;
		left:-100%;
		overflow:auto; 
}


.capacontenidopagina
{
  height:auto;
  background:#FFFFFF;   
  
  
}


.capatitulocontenidopagina
{
  width:100%;
  height:auto;
  background:#DDDDDD;   
}

.textofotonoticia {font-family: Tahoma, Verdana, Arial;font-size: 14px;font-weight: normal;color: #333333;padding-top: 0px;padding-right: 4px;padding-bottom: 0px;padding-left: 4px;}
.vertextofotonoticia {font-family: Tahoma, Verdana, Arial;font-size: 13px;font-weight: bold;color: #ffffff; text-align:justify;padding-top: 0px;padding-right: 4px;padding-bottom: 0px;padding-left: 4px;}
.titulofotonoticia {font-family: Tahoma, Verdana, Arial;font-size: 16px;font-weight: bold;color: #ffffff; background-color:#ff3300;padding-top: 0px;padding-right: 4px;padding-bottom: 0px;padding-left: 4px; vertical-align:middle}
.titulotextoinferior {font-family: Tahoma, Verdana, Arial;font-size: 14px;font-weight: bold;color: #ffffff;padding-top: 0px;padding-right: 4px;padding-bottom: 0px;padding-left: 4px; vertical-align:middle; text-align:center;}
.capafondoinf {   
    height: auto;
    background-image: url('../../imagenes/fondoinferior.png');
    width:100%;
    border: none;
}


.titulofotonoticias{font-family: Tahoma, Verdana, Arial;font-size: 18px;font-weight: bold; color:#005a8c;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;}
.nodotitulonoticia{background-color:#eaeaea; padding-left:4px;}
.nodofotonoticia{background-color:#eaeaea;}
.textojustificado{text-align:justify;}
.rteindent5{margin-left:0px;}
.textofotonoticia {font-family: Tahoma, Verdana, Arial;font-size: 15px;font-weight: normal;color: #666666;background-color: #eaeaea;padding-top: 0px;padding-right: 4px;padding-bottom: 0px;padding-left: 10px;}








.centrado
{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}




.capamargenw
{
   
    width:100%;
	display:none;
    
}


.posicionrelative { position:relative;}
.imagengaleriamovilmenos600 { width:90%; height:auto;}

.titulomoviltipoproductomenos600
{
  /*background-color:#909090;*/
  color:#ffffff;
  
  
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  
}

.textonombreproductogaleria {
text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
color:#FF3300;
font-size: 12px;
font-weight: bold;
font-family: 'Arial Black';
}

.textoanoproductogaleria {
text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
color:#FF6600;
font-size: 12px;
font-weight: bold;
font-family: 'Arial Black';
}


.textomarcaproductogaleria {
text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
color:#FF8800;
font-size: 11px;
font-weight: bold;
font-family: 'Arial Black';
}


.textonombreproductogaleria3D
{
text-shadow: 0 1px 0 #ccc,
0 2px 0 #c9c9c9,
0 3px 0 #bbb,
0 4px 0 #b9b9b9,
0 5px 0 #ff3300,
0 6px 1px rgba(0,0,0,.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.15);
color: #FF6600;
color:#FF3300
font-size: 15px;
font-family: 'Arial Black';
}
.textonombreproductogaleriavintage {
color: #FF3300;
text-shadow:
1px 1px 0px #FF3300,
1px 1px 0px #FF3300;
font-size: 15px;
font-family: 'Arial Black';
}



.botonbuscarproducto
{
  width:100%;
  max-width:78px;
  height:auto;
  max-height:26px;
}

.imggalerianormal
{
  width:100%;
  height:auto;
  min-height:143px; /*188*/  
  max-height:143px; /*188*/  
  max-width:175px;  /*288*/
}

.imggalerianormalzoom
{
  
  width:100%;
  /*height:auto;  */
  /*height:auto;*/
  height:auto;
 /* min-height:380px;*/ /*188*/  
  max-height:460px; /*188*/  
  max-width:1024px;  /*288*/
}

.capacargandoescritorio
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;  
  
  background:rgba(0,0,0,0.4);
  z-index:99999;
  
  position:fixed;
  
  background-image: url('../../imagenes/cargando.gif');
  background-repeat: no-repeat;
  background-position: center center; 
}


.capacargandomovil
{
  margin-top:-200px;  
  width:100%;  
  height:250px;
  max-height:300px;     
  background:rgba(0,0,0,0.4);
  z-index:99999;
  
  position:relative;
  
  background-image: url('../../imagenes/cargando.gif');
  background-repeat: no-repeat;
  background-position: center center; 
}

.labeldetalleproducto
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px;font-weight: normal;color: #555555;padding-top: 10px;padding-right: 4px;padding-bottom: 0px;padding-left: 4px;
}

.textodetalleproducto
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px;font-weight: normal;color: #000000;padding-top: 3px;padding-right: 4px;padding-bottom: 0px;padding-left: 10px;
}

.capacargandodetalleproducto
{
  display:none;  
}

.capadetalleproducto
{
  display:none;  
}


.textopaginacion{
  color: #ffffff;
  font-family: Tahoma, Verdana, Arial;font-size: 11px;
  text-decoration: none;
}


div.enlacemensajeasinpag{
  color: #ffffff;
  font-family: Tahoma, Verdana, Arial;font-size: 11px;
  text-decoration: none;
}

div.enlacemensajeasinpag a {
  color: #ffffff;
  font-family: Tahoma, Verdana, Arial;font-size: 11px;
}
div.enlacemensajeasinpag a:current {
	//background : #ccc;
}
div.enlacemensajeasinpag a:hover {	
	color: #ffffff;	
	font-family: Tahoma, Verdana, Arial;font-size: 11px;
}

div.enlacemensajeasinpag a:visited {	
	color: #ffffff;	
	font-family: Tahoma, Verdana, Arial;font-size: 11px;
}

.capagaleriaproductosescritorio
{
  
  /*background-color:rgba(0,0,0,.3);*/
  height:22px;
  
  /*min-height:400px;*/
  
}

.separacionpag
{
  
  padding-left:2px;
  padding-right:2px;
  
}


.cajatextoformulario
{	
  color: #000000;	
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  text-align:left;
}


.cajatextopreguntas
{	
  color: #000000;	
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  text-align:left;
  width:80%;
}

.botongraficoformulario
{
  width:78px;
  height:26px;
}

.alturaespaciopaginas
{  
  min-height:310px;
}


.fondopaginaclaro
{  
/*  background-image:url('../../imagenes/fondoecotechneclaro.jpg');*/
  background-image:url('../../imagenes/fondoblancotransparente.png');
  
}

/*buscar movil*/
.capafondobuscarmovil10
{
  /*position:absolute;  
  top:226px;
  left:0px;*/
  width:100%;
  max-width:100%;
  
  height:auto;
  overflow:hidden;
}

.capafondobuscarmovil11
{
  position:relative;  
  top:0px;
  left:50%;

  width:100%;
  max-width:457px;
  height:auto;
  
}

.capafondobuscarmovil12
{
  position:relative;  
 
  left:-50%;
  /*left:25%;*/
  /*left:183px;*/
  width:100%;
  max-width:457px;
  height:auto;
  
}
.capafondotablabuscarmovil
{
  position:relative;  
  top:-50px;
  left:-50%;
  width:100%;
  max-width:500px;
  height:auto;
  
}
.imgiconobuscarmovil
{
  position:relative;  
  width:100%;
  height:auto;
  max-width:39px;
  top:5px;
}
.lblbuscarmovil
{	
  color: #ffffff;	
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:right;
}

.txtbuscarmovil
{
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  background-color:#316699;
  color:#FFFFFF;
  width:95%;
  height:auto;
  
  max-width:140px;
  max-height:25px;
  min-height:25px;
  
  margin-top:-10px;
  margin-left:2px;
  border:0px;
  
      
  -khtml-border-radius: 10px; 
  -ms-border-radius: 10px; 
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
    
}

/*fin buscar movil*/

/*eventos*/
.tablaeventos
{	
  color: #000000;	
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  text-align:left;
  width:80%;
  padding:0px;
  text-indent:0px;
  border-spacing:0px;
  border-collapse:0px;
  

}

.celdaeventosetiqueta
{	
  color: #000000;	
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  font-weight:bold;  
  text-align:right;
  width:40%;
  padding-left:5px;
  border:1px;
  border-width:1px;
}
.celdaeventostexto
{	
  color: #000000;	
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  text-align:left;
  width:60%;
  padding-left:5px;
  border:1px;
  border-width:1px;
}

/*fin eventos*/

/*redes sociales movil*/
.imgiconoredessocialesmovil
{
  position:relative;
  width:100%;
  height:auto;
  max-width:43px;
  max-height:45px;
  top:10px;
}

.lblredessocialesmovil
{	
  color: #316699;	
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:left;
}


.capafondotablaredessocialesmovil
{
  position:relative;  
  top:10px;
  left:-50%;
  width:100%;
  max-width:500px;
  height:auto;
  
}

div.enlaceredsocialmovil{
  color: #005a8c;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:left;
}

div.enlaceredsocialmovil a {
  color: #005a8c;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
}
div.enlaceredsocialmovil a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
}
div.enlaceredsocialmovil a:hover {	
	color: #005a8c;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
}

div.enlaceredsocialmovil a:visited {	
	color: #005a8c;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	
}

/*fin */

.capabanderaven
{
  position:absolute;  
  top:7px;
  right:86px;
  width:100%;
  max-width:48px;
  height:auto;
}

.capabanderaeu
{
  position:absolute;  
  top:7px;
  right:23px;
  width:100%;
  max-width:48px;
  height:auto;
}

.capabanderaeu
{
  position:absolute;  
  top:7px;
  right:23px;
  width:100%;
  max-width:48px;
  height:auto;
}

.capafondoidiomas1
{
  position:absolute;  
  top:-5px;
  right:27px;
  width:100%;
  max-width:380px;
  height:auto;
}
.capafondoidiomas2
{
  position:relative;  
  top:0px;
  width:100%;
  max-width:380px;
  height:auto;
}
.capafondotablaidiomas2
{
  position:relative;  
  top:-35px;
  width:100%;
  max-width:380px;
  height:auto;
  
}


.capaidiomas
{
  position:absolute;  
  top:0px;
  right:27px;
  width:100%;
  max-width:170px;
  height:auto;
}

.cssdetalleimgmodal
{
  width:40px;
  height:40px;
  padding-right:5px;
  
}

div.enlaceevento{
  color: #0033cc;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:center;
}

div.enlaceevento a {
  color: #ff3300;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
}
div.enlaceevento a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
}
div.enlaceevento a:hover {	
	color: #333333;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
}

div.enlaceevento a:visited {	
	color: #ff3300;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	
}

.textomostrarevento {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	font-weight:bold;
	
}

.textomostrareventodetalle {	
	color: #666666;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	
}



.colorfondofilatabla1
{
  background : rgba(20,20,20,0.7);/*#eaeaea;*/
}

.colorfondofilatabla2
{
  background : rgba(20,20,20,0.7);/*#e0e0e0;*/
}

.iconoevento
{
  width:100%;
  max-width:48px;
  height:auto;
}

.bordealo
{
  border: 1px solid blue;
}

.fondonegro
{
  background:#000000;
}

div.enlacebarrasuperior a {
  color: #ffffff;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:center;
  font-weight: bold;
}
div.enlacebarrasuperior a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	text-align:center;
	font-weight: bold;
}
div.enlacebarrasuperior a:hover {	
	color: #ffffff;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	text-align:center;
	font-weight: bold;
}

div.enlacebarrasuperior a:visited {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	text-align:center;
	font-weight: bold;
}

div.enlacebarrasuperiornegro a {
  color: #000000;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:center;
  font-weight: bold;
}
div.enlacebarrasuperiornegro a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	text-align:center;
	font-weight: bold;
}
div.enlacebarrasuperiornegro a:hover {	
	color: #000000;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	text-align:center;
	font-weight: bold;
}

div.enlacebarrasuperiornegro a:visited {	
	color: #000000;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	text-align:center;
	font-weight: bold;
}


div.enlacebarrasuperiornaranja a {
  color: #ff3300;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 14px;
  text-align:center;
  font-weight: bold;
}
div.enlacebarrasuperiornaranja a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 14px;
	text-align:center;
	font-weight: bold;
}
div.enlacebarrasuperiornaranja a:hover {	
	color: #ff3300;
	
	font-family: Tahoma, Verdana, Arial;font-size: 14px;
	text-align:center;
	font-weight: bold;
}

div.enlacebarrasuperiornaranja a:visited {	
	color: #ff3300;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 14px;
	text-align:center;
	font-weight: bold;
}


.csscabeceraappcontenedor
{
  width:100%;
  height:74px;
}

.cssfilainferiorappcontenedor
{
  /*width:100%;*/
  position: absolute;
top: 90px;
bottom: 0px;
width: 100%; 
background : #ffffff;
overflow-y:scroll; 
}

.csscabeceraapp
{
  z-index:2;
  position:absolute; /*fixed*/
  top:0px;
  width:100%;
  background : #ff4814;
  /*height:74px;*/
  
}

.cssfilabuscador
{
  position:relative;
  background-color:#ff4814; /*dedede*/
  height:32px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:2px;
  padding-right:2px;
}

.csscapaprincipal
{
  width:100%;
  height:100%;
}

.cssleft8px
{
  display:block; 
  
  /*padding-left:8px;
  padding-top:50px;
  */
  
  /*width:100%;
  height:80px;
  max-width:292px;
  */
  position:absolute;
  left:20%;
  top:110px;
}

.cssbotimgprev
{
  position:absolute;
  top:4px;
  left:6px; /*5px*/
  
  width:14px;
  height:24px;
}

.cssbotimgprevsup
{
  position:absolute;
  
  top:12px;
  left:6px; /*5px*/
  
  width:14px;
  height:24px;
}

.csstextovolver
   {
  display:block; 
  width:26;
  height:26;
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:center;
  color:#ffffff;
  font-weight:bold;
  position:absolute;
  left:25px;
  top:15px;  
  /*border: 1px solid red;*/
 }

 div.enlacetextovolver{
  color: #ffffff;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
}

div.enlacetextovolver a {
  color: #ffffff;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
}
div.enlacetextovolver a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
}
div.enlacetextovolver a:hover {	
	color: #ffffff;
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
}

div.enlacetextovolver a:visited {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 13px;
	
}
 
.cssposiciontextobuscar
{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  position:relative;
  top:2px;
  left:5px; /*5px*/
  background-color:#ffffff;
  width:72%;/* 72 126px;*/ /*143*/
  height:24px;
}

/*.csscontenedortextobuscar
{
  position:relative;
  top:4px;
  left:5px;
  background-color:#ebebeb;
  width:100%;
  height:28px;
}*/


.csscajatextobuscar
{
  position:absolute;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  
  /*border: 1px solid #a0a0a0;*/
  height:24px;
  width:92%;/* 95% 190px 101px;*/
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  color:#333333;
  text-align:left;
  padding-left:30px; /*5px*/
  border:0px;
  
}



.cssimglupabuscar
{
  
  position:absolute;
  left:4px;/*105 122 150px*/
  top:2px; /*4*/
  padding-top:0px;
  
  /*background:#ebebeb;*/
}

.cssimgxbuscar
{
  
  position:absolute;
  right:2px;/*105 122 150px*/
  top:2px; /*4*/
  padding-top:0px;
  
  /*background:#ebebeb;*/
}

.cssdivimglupabuscar
{
  
  /*position:absolute;
  left:auto;
  padding-top:0px;*/
  
  position:relative;  
  
 top:3px;
 left:154px; 
 width:18px;
 height:18px;
  
  background:#000000;
}

.csscapatotalapp
{
  position:absolute;
  top:8px;
  right:85px; /*5px*/
  
  width:50px;
  height:24px;
  font-family: Tahoma, Verdana, Arial;font-size: 11px;

  font-weight:normal;
  
  /*border: 1px solid red;*/
}

.csscapatotalmontoapp
{
  position:absolute;
 /* border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;*/

  top:9px;
  right:10px; /*5px*/
  
  width:70px;
  height:24px;
  font-family: Tahoma, Verdana, Arial;font-size: 10px;
  text-align:right;
  font-weight:normal;
  
  /*border: 1px solid red;*/
}


.csscapatotalmontoappcuadro
{
  position:absolute;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

  top:4px;
  right:5px; /*5px*/
  background-color:#ffffff;  
  width:24%;/*80px*/
  height:24px;
  font-family: Tahoma, Verdana, Arial;font-size: 10px;
  text-align:left;
  font-weight:normal;
  
  /*border: 1px solid red;*/
}

.cssposicionimgbuscar
{
  position:relative;
  padding-top:20px;
}

.cssimgapp
{
  width:100%;
  
}


header nav {
		width:100%;
		height:10px;/*80px*/
		margin:0;
		position: relative;
		left:0px;
		/*top:0px;*/
		overflow:auto;
		/*display:none;*/
		
	}
	
	header nav .capamenummovil
      {
        display:none; /*block;*/
        width:100%;
		height:100%;/*100%*/
		margin:0;
		position: relative;
		left:0; 
		/*top:0px;*/
		overflow:auto;
		color:#ffffff;
		background:#FF3300; 
    }
	
	header nav .capamenuescritorio
      {
      display:none;
   }
	
  header  .capalogosuperiormovil
   {
  display:none; /*block*/ 
  width:100%;
  height:27px;  /*33*/
  max-width:150px; /*186*/
  
  position:absolute;
  left:20%;
  top:14px;  
  
 }
 
 header  .capatitulosuper
   {
  display:none; 
  width:100%;
  height:27px;  /*33*/
  max-width:186px; /*186*/
  font-family: Tahoma, Verdana, Arial;font-size: 15px;
  text-align:center;
  font-weight:bold;
  color: #ffffff;
  position:absolute;
  left:20%;
  top:14px;  
  
 }
 
 div.enlacecambiarsuc{
  position:absolute;
  left:20%;
  top:26px;
  width:80%;
   max-width:186px; 
  color: #ffffff;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 11px;
  padding-top: 10px;
   
}

div.enlacecambiarsuc a {
  color: #ffffff;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 11px;
}
div.enlacecambiarsuc a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 11px;
}
div.enlacecambiarsuc a:hover {	
	color: #ffffff;
	
	font-family: Tahoma, Verdana, Arial;font-size: 11px;
}

div.enlacecambiarsuc a:visited {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 11px;
	
}

 
  .cssiconocarritoapp
   {
  display:block; 
  width:36;
  height:32;
  
  position:absolute;
  right:10px;
  top:14px;  
  border:0px;
 }
 
 .csscestacarritoapp
   {
  position:absolute;
  right:12px;
  top:15px;  
  
  display:block; 
  width:26;
  height:26;
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  text-align:center;
  color:#ffffff;
  font-weight:normal;
  /*border: 1px solid red;*/
 }
 
 
 div.enlacecestacarrito{
  color: #ffffff;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
}

div.enlacecestacarrito a {
  color: #ffffff;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
}
div.enlacecestacarrito a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 12px;
}
div.enlacecestacarrito a:hover {	
	color: #ffffff;
	
	font-family: Tahoma, Verdana, Arial;font-size: 12px;
}

div.enlacecestacarrito a:visited {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 12px;
	
}

.cssbarracomprar
{
  background-color:#ff4814;
  width:100%;
  height:41px;
}

div.enlacecomprar{
  color: #ffffff;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 14px;
  padding-top: 10px;
}

div.enlacecomprar a {
  color: #ffffff;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 14px;
}
div.enlacecomprar a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 14px;
}
div.enlacecomprar a:hover {	
	color: #ffffff;
	
	font-family: Tahoma, Verdana, Arial;font-size: 14px;
}

div.enlacecomprar a:visited {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 14px;
	
}






.cssicononotifiapp
   {
  display:block; 
  width:36;
  height:32;
  
  position:absolute;
  right:50px;
  top:12px;  
  border:0px;
 }
 
 .csstextonitifiapp
   {
  display:block; 
  width:26;
  height:26;
  font-family: Tahoma, Verdana, Arial;font-size: 10px;
  text-align:center;
  color:#ffffff;
  font-weight:normal;
  position:absolute;
  right:55px;
  top:19px;  
  /*border: 1px solid red;*/
 }
 
div.enlacetextonotifi{
  color: #ffffff;  
  text-decoration: none;
  font-family: Tahoma, Verdana, Arial;font-size: 10px;
}

div.enlacetextonotifi a {
  color: #ffffff;
  text-decoration: none;
  
  font-family: Tahoma, Verdana, Arial;font-size: 10px;
}
div.enlacetextonotifi a:current {
	//background : #ccc;
	
	font-family: Tahoma, Verdana, Arial;font-size: 10px;
}
div.enlacetextonotifi a:hover {	
	color: #ffffff;
	
	font-family: Tahoma, Verdana, Arial;font-size: 10px;
}

div.enlacetextonotifi a:visited {	
	color: #ffffff;	
	
	font-family: Tahoma, Verdana, Arial;font-size: 10px;
	
}


	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:12px; /*20*/ /*altura de barra superior*/
		
		/*left:12px;
		top:6px;*/
		height:50px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#ff4814;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		color:#ff4814;
		text-decoration:none;
	}

	.menu_bar span {
		float:left;
		font-size:40px;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255,.3);
		font-family: Tahoma, Verdana, Arial;font-size: 12px;
	}
	
	.capaformbuscarmovil
    {
      display:block;
	  /*background-image: url('../../imagenes/fondobuscarmovil.png');*/
	  background-repeat:no-repeat;
	  height:61px; 
	  
    }
	
.imagentamanoreal
{
  width:auto;  
  max-width:100% !important;

}

.csspadding-top4px
{
  padding-top:4px;
  
}

.csspadding-top8px
{
  padding-top:4px;
  
}



.csspadding-top12px
{
  padding-top:16px;
  
}

.csspadding-top16px
{
  padding-top:20px;
  
}


.cssposicionusuario
{
  position:relative;
  top:0px;
}


.csslblusuario
{	
  color: #333333;	
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:right;
}

.cssposiciontextoiniciosesion
{
  position:relative;
  top:0px;
  left:5px;
  /*background-color:#ebebeb;*/
  width:100%;
  height:32px;
}

.csscajatextousuario
{
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #ffffff;
  height:32px;
  width:240px;
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  color:#787777;
  background-color:#e1e1e1;
  text-align:left;
  
  text-align:center;
}

.linearojainicio
{
color:#e53712;
height:1px;
width:80%;
  padding-left:15px;
  border: 1px solid #e7e5e5;

}
	
.csslbltextos
{	
  color: #333333;	
  font-family: Tahoma, Verdana, Arial;font-size: 13px;
  text-align:center;
  height:30px;
}

.csscombosmovil
{
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  background-color:#ff3300;
  color:#FFFFFF;
  width:95%;
  height:auto;
  
  max-width:140px;
  max-height:25px;
  min-height:25px;
  
  margin-top:-10px;
  margin-left:2px;
  border:0px;
  
      
  -khtml-border-radius: 10px; 
  -ms-border-radius: 10px; 
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
    
}
	
	.capazoonimagenproductomenos600 {display:none;}
	.capagaleriaproductosmenos600 {width: 100%; display:none;}
    .capagaleriaproductosmovilmenos600 {width: 100%; display:block;  left:0px; top:0px; background-color:#404040; }

.imgcodtippro
 {
    /*width: 100%;
    height: auto;*/
	/*padding:5px;*/
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:4px;
	
    /*border: 1px solid #a0a0a0;	*/
}

.cssbordecodtippro
 {
   border: 1px solid #eaeaea; /*a0a0a0*/	
   box-shadow: 1px 1px 1px #9a9a9a;
   
  
}

.cssbordecodtippropadding0
 {
   padding-left:4px;
   padding-right:2px;
   
}
.cssbordecodtippropadding1
 {
   padding-left:2px;
   padding-right:4px;
   
}


.lbltextonomtipproapp
{
color:#333333;
font-size: 14px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
}

.lbltextotitulodepartamentosapp
{
color:#ffffff; /*333333*/
background-color:#ff4814; /*e4e4e4*/
font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:32px;
}

.lblmenuinternacionalizacion
{
color:#333333;
background-color:#ff4814; /*e4e4e4*/
font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:4px;
height:32px;
}

.lblmenuinternacionalizacionc1
{
color:#333333;
background-color:#e4e4e4;
font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:24px;
width:60px;
}

.lblmenuinternacionalizacionc2
{
color:#333333;
background-color:#e4e4e4;
font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:32px;
height:40px;
}

.cssposicionmenuinter
{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  position:relative;
  top:0px;
  left:5px; /*5px*/
  background-color:#ff4814; /*e4e4e4*/
  width:74px;/* 72 126px;*/ /*143*/
  height:24px;
}

.cssboton1monedainter
{
  
  
  position:absolute;
  
  left:0px; /*24*/
  top:0px; 
  /*height:24px;
  width:40px;
  text-align:left;*/
  
  
}


.cssboton2monedainter
{
  position:absolute;
  
  left:70px; /*24*/
  top:0px; 
  /*height:24px;
  width:40px;
  text-align:left;*/
  
}


.csslabelmonedainter
{
  position:absolute;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  
  left:24px;
  top:4px; 
  height:24px;
  width:40px;
  font-family: Tahoma, Verdana, Arial;font-size: 12px;
  color:#333333;
  text-align:left;
  
}

.cssimgdesplegarmenuinter
{
  
  position:absolute;
  left:0px;
  top:0px; 
  padding-top:0px;
  width:24px; 
  height:24px;   
  
}

.csscapamenudesplegableinter
{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  
  position:absolute;
  left:0px;/*105 122 150px*/
  top:25px; /*4*/
  padding-top:0px;
  width:60px; 
  height:48px;   
  border: 1px solid #ff0000;
  background:#ebebeb;
  display:none;
}


.csscapamenudesplegableinter a {
  background-color: #ff3300;
  color: #ffffff;
  display: block;
  padding: 2px;
  text-decoration: none;
}

.csscapamenudesplegableinter a:hover {
  background-color: #68ddff;
}

.csscapamenudesplegableinter a.active {
  background-color: #4CAF50;
  color: white;
}

.lbltextonomprdapp
{
color:#333333;
/*background-color:#e4e4e4;*/
word-wrap: normal;
font-size: 11px;
font-weight: bold;
font-family: Tahoma, Verdana, Arial;
text-align: left;
padding-top:6px;
height:45px;
}

.lbltextonomprdappzoom
{
color:#333333;
/*background-color:#e4e4e4;*/
word-wrap: normal;
font-size: 11px;
font-weight: bold;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:45px;
}

.lbltextopreve1app
{
color:#009124;
/*background-color:#e4e4e4;*/
word-wrap: normal;
font-size: 11px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: left;
padding-top:6px;
height:32px;
}

.lbltextopreve1appzoom
{
color:#009124;
/*background-color:#e4e4e4;*/
word-wrap: normal;
font-size: 11px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:32px;
}

.lbltextoespereunmomentoapp
{
color:#333333;

font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:32px;
}

.seccionpiedepaginaapp
 {
  background-color:#ff4814;
  height:52px;
  width:100%;  
}
 
.seccioncapacargando
 {
  height:auto;
  min-height:200px;
  width:100%;  
}
 
.lblmarcoproductoapp
{
  /*padding-top:8px;
  padding-bottom:8px;
  padding-left:8px;
  padding-right:8px;*/
  /*border: 1px solid #a0a0a0;*/
  line-height: 1.8em;
  padding:5px;
  font-family: Tahoma, Verdana, Arial;font-size: 11px;font-weight: normal;	
  min-height:160px;
  height:auto;
  background-color:#ffffff;
}

.csscantidadcarro
{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 7px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #a0a0a0;
  height:32px;
  width:70px;
  font-family: Tahoma, Verdana, Arial;font-size: 14px;
  color:#333333;
  text-align:center;
  
}

.csscantmodcarro
{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 7px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #a0a0a0;
  height:28px;
  width:55px;
  font-family: Tahoma, Verdana, Arial;font-size: 14px;
  color:#333333;
  text-align:center;
  
}

.csscodmedagregar
{
color:#333333;

font-size: 12px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:26px;
}

.csscodmedmod
{
color:#333333;

font-size: 12px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
padding-right:5px;
padding-right:10px;
height:24px;
}

.lbltextomensajemsgbox
{
color:#333333;

font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:6px;
height:32px;
}

.cssoculto
{
  display:none;
}

.co
{
  display:none;
}

.cssscrollvertical
{
  height:100%;
  /*overflow-y:scroll; */
  /*background-color: #ffffff;*/
}

.cssfondoescritorioapp
{
  background-color: #ffffff;
}

.bordeproducto
{
  border: 1px solid #bebebe;
  /*background-color: #ffffff;*/
  /*padding-top:6px;
  padding-bottom:6px;
  padding-left:6px;
  padding-right:6px;*/
  margin:6px;
}

/*registrar pago*/
.cssseecart
{	
  color: #666666;  
  text-decoration: none;
  font-family: Tahoma,Arial,Verdana;font-size: 13px;font-weight: normal;  
  text-align:left;
  height:28px;
  padding-top:3px;
  padding-left:8px;
  	
}

.cssseecart2
{	
  color: #666666;  
  text-decoration: none;
  font-family: Tahoma,Arial,Verdana;font-size: 15px;font-weight: normal;  
  text-align:left;
  height:28px;
  padding-top:5px;
  padding-left:8px;
  	
}

.capacssregitrardatos
{
  font-family: Tahoma, Verdana, Arial;font-size: 14px;font-weight: normal;	
  position:relative;
  top:2px;
  text-align:left;
}
.csstxtdatosregistrarsunumeroresaltado
{
  position:relative;
  left:-7px;
  top:-4px;

  width:100%;
  height:auto;
  
  max-width:300px;
  max-height:30px;
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-right:5px;
  text-align:right;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #ff6600;
    
}
.csslabeldatoscuentanumeroresaltado
{
  color: #ffffff;
  background-color:#ff3300;
  font-family: Tahoma, Verdana, Arial;font-size: 16px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:right;
}

.csslabeldatoscuentanumeroresaltadorojo
{
  color: #ff0000;
  background-color:#ff3300;
  font-family: Tahoma, Verdana, Arial;font-size: 16px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:right;
}

.csslabeldatoscuentanumeroresaltado2
{
  color: #ffffff;
  background-color:#ff6600;
  font-family: Tahoma, Verdana, Arial;font-size: 16px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:right;
}

.csstabladerechacupon
{
  width:100%;
  height:auto;
  
  max-width:300px;
  
}

.csstxtingresarcupon
{
  position:relative;
  left:-7px;
  top:0px;

  width:100%;
  height:auto;
  min-width:120px;
  max-width:150px;
  max-height:30px;
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-right:5px;
  text-align:right;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #ff6600;
    
}
.csslabelingresarcupon
{
  color: #000000;
  background-color:#ffffff;
  font-family: Tahoma, Verdana, Arial;font-size: 14px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:right;
}

.csscatalogocupon1
{
  position:relative;
  left:0px;
  top:0px;

  width:100%;
  height:auto;
  
  max-width:300px;
  /*max-height:60px;*/
  min-height:60px;
    
  margin-top:4px;
  left:0px;
  padding-left:5px;
  text-align:left;
  color:#000000;
  background-color:#ff9933;
  font-family: Tahoma, Verdana, Arial;font-size: 12px;font-weight: normal;	
   border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #ffcc00;
    
}

.csscatalogocupon2
{
  position:relative;
  left:0px;
  top:0px;

  width:100%;
  height:auto;
  
  max-width:300px;
  /*max-height:60px;*/
  min-height:60px;
    
  margin-top:5px;
  left:0px;
  padding-left:5px;
  text-align:left;
  color:#000000;
  background-color:#ffcc00;
  font-family: Tahoma, Verdana, Arial;font-size: 12px;font-weight: normal;	
   border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #ff9933;
    
}

div.enlacecupondes{
  color: #000000;
  font-family: Tahoma, Arial, Verdana;font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

div.enlacecupondes a {
  color: #000000;
  font-family: Tahoma, Arial, Verdana;font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
div.enlacecupondes a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacecupondes a:hover {	
	color: #000000;	
	font-family: Tahoma, Arial, Verdana;font-size: 12px;
    font-weight: normal;
	text-decoration: none;
}

div.enlacecupondes a:visited {	
	color: #000000;	
	font-family: Tahoma, Arial, Verdana;font-size: 12px;
    font-weight: normal;
	text-decoration: none;
}


.capaesquinaradio2
{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

  /*border: 1px solid #f35001;*/
  border: 1px solid #ffffff;
  background-color:#ffffff;
  height:auto;
}

.csslabelisregistrateaqui
{
  color: #000000;		
  font-family: Tahoma, Verdana, Arial;font-size: 12px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:10px;
  text-align:left;
}
.csstxtdatosregistrarsuresaltado3
{
  position:relative;
  left:-7px;
  top:-4px;

  width:100%;
  height:auto;
  
  max-width:300px;
  /*max-height:30px;*/
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding:10px;
  text-align:justify;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #0066ff;
    
}

.csslabeldatoscuentaresaltado3
{
  color: #ffffff;
  background-color:#0000ff;
  font-family: Tahoma, Verdana, Arial;font-size: 15px;font-weight: normal;	
	
  padding-top:4px;
  padding-bottom:6px;
  padding-left:8px;
  padding-right:8px;
  text-align:justify;
}
.csstxtdatosregistrarsuresaltado4
{
  position:relative;
  left:-7px;
  top:-4px;

  width:100%;
  height:auto;
  
  max-width:300px;
  /*max-height:30px;*/
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding:10px;
  text-align:justify;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #661166;
    
}
.csslabeldatoscuentaresaltado4
{
  color: #ffffff;
  background-color:#660066;
  font-family: Tahoma, Verdana, Arial;font-size: 15px;font-weight: normal;	
	
  padding-top:4px;
  padding-bottom:6px;
  padding-left:8px;
  padding-right:8px;
  
  text-align:justify;
}
.capacssregitrardatos2
{
  font-family: Tahoma, Verdana, Arial;font-size: 14px;font-weight: normal;	
  position:relative;
  top:4px;
  color: #333333;
  text-align:left;
}
.csstop2px
{
  padding-top:3px;
}
.cssdivcantraban
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  
  font-family: Tahoma, Verdana, Arial;font-size: 15px;font-weight: bold;
  
  font-weight: normal;
  padding: 0px; 
  color:#ffffff;
  padding-left:5px;
  padding-right:5px;
  padding-top:6px;
  padding-bottom:5px;

  border: 1px solid #ff6600;
  background-color:#ff3300;
  width:auto;
  height:37px;
  min-height:37px;
  min-width:40px;
  text-decoration:none; 
  text-align:center;  
}
.ocultarsimple
{
  display:none;
}

.mostrarsimple
{
  display:block;
}
.colorfondocodtraban1
{
  background-color:#eaeaea;  
}

.colorfondocodtraban2
{
  background-color:#dadada;  
}
.csslabeldatoscuenta
{
  color: #333333;		
  font-family: Tahoma, Verdana, Arial;font-size: 13px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:left;
}

.csslabeldatoscuentanegrita
{
  color: #333333;		
  font-family: Tahoma, Verdana, Arial;font-size: 13px;font-weight: bold;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:left;
}

.csslabeldatoscuentadestacado
{
  color: #ff6600;		
  font-family: Tahoma, Verdana, Arial;font-size: 13px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:left;
}

.csscmbcombosu
{
  position:relative;
  left:0px;
  top:-4px;

  max-height:30px;
  min-height:30px;
  
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
  width:300px;
  
  
  padding-left:2px;
  padding-bottom:5px;
  padding-top:5px;
    
}

.csscmbcombosudia
{
  position:relative;
  left:0px;
  top:-4px;

  max-height:30px;
  min-height:30px;
  
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
  width:60px;
  
  
  padding-left:2px;
  padding-bottom:5px;
  padding-top:5px;
    
}

.csscmbcomborifcli
{
  position:relative;
  left:0px;
  top:-2px;

  max-height:30px;
  min-height:30px;
  
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
  width:60px;
  
  
  padding-left:2px;
  padding-bottom:5px;
  padding-top:5px;
    
}

.csscmbcombomescli
{
  position:relative;
  left:0px;
  top:-2px;

  max-height:30px;
  min-height:30px;
  
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
  width:auto;
  min-width:100px;
  
  
  padding-left:2px;
  padding-bottom:5px;
  padding-top:5px;
    
}


.csscmbcombosuano
{
  position:relative;
  left:0px;
  top:-4px;

  max-height:30px;
  min-height:30px;
  
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
  width:90px;
  
  
  padding-left:2px;
  padding-bottom:5px;
  padding-top:5px;
    
}

.csstxtdatosregistrarsunumero
{
  position:relative;
  left:-7px;
  top:-4px;

  width:100%;
  height:auto;
  
  max-width:300px;
  max-height:30px;
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-right:5px;
  text-align:right;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
    
}

.csstablaregistrate
{
  position:relative;
 
  width:100%;
  height:auto;
  
  max-width:300px;
}

.csstxtdatosregistrarsu
{
  position:relative;
  left:-7px;
  top:-4px;

  width:100%;
  height:auto;
  
  max-width:300px;
  max-height:30px;
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  text-align:left;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
    
}
.csstxtdatosregistrarsumultilinea
{
  position:relative;
  left:-7px;
  top:-4px;

  width:100%;
  height:auto;
  
  max-width:300px;
  max-height:75px;
  min-height:75px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  text-align:left;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
    
}
.csslabeldatoscuentanumeroresaltado2
{
  color: #ffffff;
  background-color:#ff6600;
  font-family: Tahoma, Verdana, Arial;font-size: 16px;font-weight: normal;	
	
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  text-align:right;
}
/*registrar pago*/

.margenowl
{
  margin:10px;
}


.ctcg
{
color:#333333;

font-size: 16px;
font-weight: normal;
font-family: Tahoma, Verdana, Arial;
text-align: center;
padding-top:0px;

}

.csstitdatospago
{
  font-family: Tahoma, Verdana, Arial;
  background-color:#ebebeb;
  color:#333333;
  font-size: 16px;
  font-weight: normal;
  width:100%;
  height:52;
  padding-top:13px;
  padding-left:8px;
  text-align: left;
}

.csstitomportantepago
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#fe0000;
  font-size: 16px;
  font-weight: normal;
  width:100%;
  
  padding-top:5px;
  padding-left:8px;
  padding-bottom:5px;
  text-align: left;
}

.csstitpagosecundario
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#333333;
  font-size: 17px;
  font-weight: normal;
  width:100%;
  
  padding-top:3px;
  padding-left:8px;
  text-align: left;
}



.csstitpagosecundario2
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#333333;
  font-size: 17px;
  font-weight: normal;
  width:100%;
  
  padding-top:3px;
  padding-bottom:3px;
  padding-left:8px;
  text-align: left;
}

.csstitpagosecundario3
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#333333;
  font-size: 17px;
  font-weight: bold;
  width:100%;
  
  padding-top:3px;
  padding-left:8px;
  text-align: left;
}

.csstitpagosecundario4
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#333333;
  font-size: 17px;
  font-weight: bold;
  width:100%;
  
  padding-top:3px;
  padding-left:8px;
  padding-bottom:3px;
  text-align: left;
}

.cssbordedatospago
{
  width:100%;
  height:auto;
  
  border: 1px solid #ff4814;
}
 
.cssmenumovilsimnav
{
left: -100%; top:8px;
background-color:#ff3300;
}
 
 .fondopantallainicial
 {
   background-color:#ff4814;
 
}

.fondopantallainiciosesion
 {
   background-color:#ffffff;
 
}
.csscontenedorfotoconductor
{
  position:relative;
  width:116px;
  height:118px;  
}
.cssfotoconductor
{
  position:relative;
  width:116px;
  height:118px; 
  top:0px;
  left:0px;  
}
.csscapacircularfotoconductor
{
  position:relative;
  width:116px;
  height:118px;  
  top:0px;
  left:0px;  
}

.csslineahordespacho
{
color:#d7d7d7;
height:1px;
width:100%;
  padding-left:15px;
  border: 1px solid #e7e5e5;

}
.csstablaopcionesdespacho
{
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

.cssnombreconductordespacho
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 17px;
  font-weight: bold;
  
  
  padding-top:3px;
  padding-left:0px;
  text-align: left;
}

.cssnombrevehiculodespacho
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 17px;
  font-weight: normal;
  
  
  padding-top:3px;
  padding-left:0px;
  text-align: left;
}

.cssplacavehiculodespacho
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 17px;
  font-weight: normal;
  background-color:#ebebeb;
  width:140px;
  
  padding-top:0px;
  padding-left:0px;
  text-align: center;
}

.cssopcionesdespacho
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 14px;
  font-weight: normal;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: center;
}

.cssdatoschoferdespacho
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 15px;
  font-weight: bold;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  padding-bottom:10px;
  text-align: left;
}

.cssdatoschoferdespacho2
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 15px;
  font-weight: normal;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
}

.csspadding-top8pxnotificaciones
{
  padding-top:8px;
  
}

.csspadding-bottom8pxnotificaciones
{
  padding-bottom:8px;
  
}

.csstitulo1notificaciones
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 15px;
  font-weight: bold;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
}

.csstitulo2notificaciones
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 13px;
  font-weight: bold;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
}

.csstitulo3notificaciones
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#c1c1c1;
  font-size: 12px;
  font-weight: normal;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
}

.csstitulo4notificaciones
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#b1b1b1;
  font-size: 12px;
  font-weight: normal;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
}

div.enlacemiscompras{
  color: #0000cc;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

div.enlacemiscompras a {
  color: #0000cc;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacemiscompras a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacemiscompras a:hover {	
	color: #0000cc;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacemiscompras a:visited {	
	color: #0000cc;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}


div.enlacenotificacion1{
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

div.enlacenotificacion1 a {
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacenotificacion1 a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacenotificacion1 a:hover {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 15px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacenotificacion1 a:visited {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 15px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacenotificacion2{
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

div.enlacenotificacion2 a {
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacenotificacion2 a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacenotificacion2 a:hover {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacenotificacion2 a:visited {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacenotificacion12{
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}

div.enlacenotificacion12 a {
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}
div.enlacenotificacion12 a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacenotificacion12 a:hover {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 15px;
    font-weight: normal;
	text-decoration: none;
}

div.enlacenotificacion12 a:visited {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 15px;
    font-weight: normal;
	text-decoration: none;
}

div.enlacenotificacion22{
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

div.enlacenotificacion22 a {
  color: #000000;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
div.enlacenotificacion22 a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacenotificacion22 a:hover {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: normal;
	text-decoration: none;
}

div.enlacenotificacion22 a:visited {	
	color: #000000;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: normal;
	text-decoration: none;
}

.cssbordealonotificacion
{
  border: 1px solid #c1c1c1;
}

.cssletramicuenta
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#ffffff;
  font-size: 16px;
  font-weight: bold;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: center;
}

.cssnombremicuenta
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#000000;
  font-size: 16px;
  font-weight: bold;
  
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
}



.cssmicuentacredigo
{
  position:relative;
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
  
  height:auto;
  
  max-width:300px;
  max-height:30px;
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  padding-top:3px;
  text-align:left;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #a0a0a0;
  
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  
  
}

.cssmicuentalabelmibalance
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  padding-left:5px;  
  text-align:left;
  
}

.cssmicuentasaldomibalance
{
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 14px;
  font-weight: bold;
  padding-right:5px;  
  text-align:right;
  
}

.cssmicuentacupref
{
  position:relative;
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  text-align: left;
  
  height:auto;
  
  max-width:300px;
  max-height:50px;
  min-height:50px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  text-align:left;
      
  border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px 18px 18px 18px;
  -webkit-border-radius: 18px 18px 18px 18px; 
  border: 1px dashed #a0a0a0;
  
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  
  
}

.csslabelmicuentatucodigo
{
  padding-top:5px;
  padding-left:12px;
  color: #a0a0a0;
  font-family: Arial, Tahoma, Verdana;font-size: 11px;
  font-weight: normal;
  text-decoration: none;
}

.csslabelmicuentacupref
{
  padding-top:4px;
  padding-left:12px;
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

div.enlaceeditarperfil{
  color: #bbbbbb;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

div.enlaceeditarperfil a {
  color: #bbbbbb;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
div.enlaceeditarperfil a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlaceeditarperfil a:hover {	
	color: #bbbbbb;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlaceeditarperfil a:visited {	
	color: #bbbbbb;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

.csstop10px
{
  padding-top:10px;
}


div.enlacecopiar{
  color: #999999;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}


div.enlacecopiar a {
  
  color: #999999;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacecopiar a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacecopiar a:hover {	
	color: #999999;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacecopiar a:visited {	
	color: #999999;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

.textocompartirreferido
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 18px;font-weight: normal;color: #000000;padding-top: 3px;padding-right: 4px;padding-bottom: 0px;padding-left: 10px;
  height:28px;
}

.filacatalogo1
{
  width:auto;
  height:auto;
  /*background:#ffcc00;*/
  padding:3px;
    
}

.filacatalogo2
{
  width:auto;
  height:auto;
  /*background:#ffe479;*/  
  padding:3px;
  
}

div.enlacesimple{
  color: #333333;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}


div.enlacesimple a {
  
  color: #333333;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacesimple a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacesimple a:hover {	
	color: #333333;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacesimple a:visited {	
	color: #333333;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacemibalance{
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-left:5px;  
  text-align:left;
}


div.enlacemibalance a {
  
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacemibalance a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacemibalance a:hover {	
	color: #666666;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacemibalance a:visited {	
	color: #666666;	
	font-family: Arial, Tahoma, Verdana;font-size: 13px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacemenumicuenta{
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  padding-left:10px;  
  padding-top:4px;  
  text-align:left;
  height:26px;
}


div.enlacemenumicuenta a {
  
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}
div.enlacemenumicuenta a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacemenumicuenta a:hover {	
	color: #666666;	
	font-family: Arial, Tahoma, Verdana;font-size: 16px;
    font-weight: normal;
	text-decoration: none;
}

div.enlacemenumicuenta a:visited {	
	color: #666666;	
	font-family: Arial, Tahoma, Verdana;font-size: 16px;
    font-weight: normal;
	text-decoration: none;
}

div.enlacemenumicuentamiperfil{
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  padding-left:10px;  
  padding-top:4px;  
  text-align:left;
  height:26px;
}


div.enlacemenumicuentamiperfil a {
  
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}
div.enlacemenumicuentamiperfil a:current {
	//background : #ccc;
	text-decoration: none;
}
div.enlacemenumicuentamiperfil a:hover {	
	color: #666666;	
	font-family: Arial, Tahoma, Verdana;font-size: 17px;
    font-weight: bold;
	text-decoration: none;
}

div.enlacemenumicuentamiperfil a:visited {	
	color: #666666;	
	font-family: Arial, Tahoma, Verdana;font-size: 17px;
    font-weight: bold;
	text-decoration: none;
}



.textomibalancedestra
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 13px;font-weight: normal;color: #000000;padding-top: 3px;padding-right: 4px;padding-bottom: 3px;padding-left: 8px;
  text-align: left;
  
  
}



.textomibalancefectra
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 10px;font-weight: normal;color: #666666;padding-top: 3px;padding-right: 4px;padding-bottom: 3px;padding-left: 8px;
  text-align: left;
  
}

.textomibalancemayorque
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 13px;font-weight: normal;color: #666666;padding-top: 3px;padding-right: 4px;padding-bottom: 3px;padding-left: 8px;
  text-align: center;
  
}

.textomibalancemontra
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 13px;font-weight: normal;color: #999999;padding-top: 3px;padding-right: 4px;padding-bottom: 3px;padding-left: 8px;
  text-align: right;
  
}

.csspaddingbottom5px;
{
  height:60px;
  
}

.csstitmibalance
{
  color: #666666;
  font-family: Arial, Tahoma, Verdana;font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding-left:5px;  
  text-align:left;
}

.csstitactividadmibalance
{
  color: #777777;
  font-family: Arial, Tahoma, Verdana;font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-left:5px;  
  text-align:left;
}

.csssubtitulosmenu
{
  color: #000000;
  
  font-family: Arial, Tahoma, Verdana;font-size: 19px;
  font-weight: normal;
  text-decoration: none;
  padding-left:-5px;  
  padding-bottom:5px;
  text-align:left;
}

.cssalturafilamenu
{
  height:40px;
  border-bottom: solid 1px #dadada;
  padding-top:4px;
}

.csscapaslide
{
  /*z-index:1;*/
  display:none;
  border: 5px solid #ff4814; /*ff3300*/
  margin-top:2px;
}

.csspredir
{
  color: #000000;
  
  font-family: Arial, Tahoma, Verdana;font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding-left:5px;  
  padding-right:5px;  
  padding-bottom:5px;
  text-align:left;
}

.csslbldireccionenvio
{
  color: #000000;
  
  font-family: Arial, Tahoma, Verdana;font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-left:5px;  
  padding-right:5px;  
  padding-bottom:5px;
  text-align:left;
}

.csscuadrpredir
{
  position:relative;
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  padding-right:10px;
  padding-bottom:10px;
  text-align: left;
  
  height:auto;
  
  max-width:300px;
  /*max-height:30px;*/
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  padding-top:3px;
  text-align:left;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 2px solid #FF4814;
  
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  
  
}

.csscuadrpredirexterno
{
  position:relative;
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  padding-right:10px;
  padding-bottom:10px;
  text-align: left;
  
  height:auto;
  
  max-width:300px;
  /*max-height:30px;*/
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  padding-top:3px;
  text-align:left;
      
  
  
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  
  
}

.csscuadroselcatdir1
{
  position:relative;
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  padding-right:10px;
  padding-bottom:10px;
  text-align: left;
  
  height:auto;
  
  max-width:300px;
  /*max-height:30px;*/
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  padding-top:3px;
  text-align:left;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #ff4814;
  background-color:#ffffff; /*ffcc00*/
  
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  
  
}

.csscuadroselcatdir2
{
  position:relative;
  width:100%;
  
  padding-top:0px;
  padding-left:0px;
  padding-right:10px;
  padding-bottom:10px;
  text-align: left;
  
  height:auto;
  
  max-width:300px;
  /*max-height:30px;*/
  min-height:30px;
    
  margin-top:0px;
  left:0px;
  padding-left:5px;
  padding-top:3px;
  text-align:left;
      
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #ff4814;
  background-color:#ffffff; /*ffe479*/
  
  font-family: Arial, Tahoma, Verdana;
  
  color:#666666;
  font-size: 15px;
  font-weight: bold;
  
  
}

.centrarpadrevertical {
   display: table;
   
}
.centradohijovertical {
   display: table-cell;
   vertical-align: middle;
}

.altopantalla
{
  height:100%;
  max-height:2120px;  
  margin-bottom: 0px;
}