* {
	padding:0;
	margin:0;
}
 /* For mobile phones: */
[class*="intragw-"] {
    width: 100%;
	float: left;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

* {
    box-sizing: border-box;
}



/*@media only screen and (min-width: 768px) {*/
    /* For desktop: */
    .intragw-1 {width: 4.16%;}
	.intragw-2 {width: 8.33%;}
	.intragw-3 {width: 12.5%;}
    .intragw-4 {width: 16.66%;}
	.intragw-5 {width: 20.83%;}
    .intragw-6 {width: 25%;}
	.intragw-7 {width: 29.16%;}
    .intragw-8 {width: 33.33%;}
	.intragw-9 {width: 37.5%;}
    .intragw-10 {width: 41.66%;}
	.intragw-11 {width: 45.83%;}
    .intragw-12 {width: 50%;}
	.intragw-13 {width: 54.16%;}
    .intragw-14 {width: 58.33%;}
	.intragw-15 {width: 62.5%;}
    .intragw-16 {width: 66.66%;}
	.intragw-17 {width: 70.83%;}
    .intragw-18 {width: 75%;}
	.intragw-19 {width: 79.16%;}
    .intragw-20 {width: 83.33%;}
	.intragw-21 {width: 87.5%;}
    .intragw-22 {width: 91.66%;}
	.intragw-23 {width: 95.83%;}
    .intragw-24 {width: 100%;}

	.intragw-7punto3 {width: 30.54%;} 
	
	.intraad48-1 {width: 2.08%;}
    .intraad48-2 {width: 4.16%;}
    .intraad48-3 {width: 6.24%;}
	.intraad48-4 {width: 8.33%;}
	.intraad48-5 {width: 10.04%;}
	.intraad48-6 {width: 12.5%;}
	.intraad48-7 {width: 14.56%;}
    .intraad48-8 {width: 16.66%;}
	.intraad48-9 {width: 18.75%;}
	.intraad48-10 {width: 20.83%;}
	.intraad48-11 {width: 22.91%;}
    .intraad48-12 {width: 25%;}
	.intraad48-13 {width: 27.08%;}
	.intraad48-14 {width: 29.16%;}
    .intraad48-15 {width: 31.25%;}
	.intraad48-16 {width: 33.33%;}
	.intraad48-17 {width: 35.41%;}
	.intraad48-18 {width: 37.5%;}
    .intraad48-19 {width: 39.58%;}
	.intraad48-20 {width: 41.66%;}
	.intraad48-21 {width: 43.75%;}
	.intraad48-22 {width: 45.83%;}
    .intraad48-23 {width: 47.91%;}
	.intraad48-24 {width: 50%;}
	.intraad48-25 {width: 52.08%;}
	.intraad48-26 {width: 54.16%;}
    .intraad48-27 {width: 56.25%;}
	.intraad48-28 {width: 58.33%;}
	.intraad48-29 {width: 60.41%;}
	.intraad48-30 {width: 62.5%;}
    .intraad48-31 {width: 64.58%;}
	.intraad48-32 {width: 66.66%;}
	.intraad48-33 {width: 68.75%;}
	.intraad48-34 {width: 70.83%;}
    .intraad48-35 {width: 72.91%;}
	.intraad48-36 {width: 75%;}
	.intraad48-37 {width: 77.08%;}
	.intraad48-38 {width: 79.16%;}
    .intraad48-39 {width: 81.25%;}
	.intraad48-40 {width: 83.33%;}
	.intraad48-41 {width: 85.41%;}
	.intraad48-42 {width: 87.5%;}
    .intraad48-43 {width: 89.58%;}
	.intraad48-44 {width: 91.66%;}
	.intraad48-45 {width: 93.75%;}
	.intraad48-46 {width: 95.83%;}
    .intraad48-47 {width: 97.91%;}
	.intraad48-48 {width: 100%;}
	
/*}*/


    