.ventanamodalimagen {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.ventanamodalimagen:target {
    opacity:1;
    pointer-events: auto;
}
.ventanamodalimagen > div {
    /*width: 900px;*/
	width: 90%;
	height: 80%;
	
	/*left:150px;
	top:80px;*/
	
    
	position: absolute;
    /*margin: 20% 5%;*/
	margin: 5% 5% 5% 5%;/*top right bottom left*/
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);

}
.closeventanamodalimagen {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.closeventanamodalimagen:hover {
    background: #00d9ff;
}



.ventanamodalcargando {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.ventanamodalcargando:target {
    opacity:1;
    pointer-events: auto;
}
.ventanamodalcargando > div {
    /*width: 900px;*/
	width: 90%;
	height: 80%;
	
	/*left:150px;
	top:80px;*/
	
    
	position: absolute;
    /*margin: 20% 5%;*/
	margin: 5% 5% 5% 5%;/*top right bottom left*/
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    /*background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/

}


.ventanamodalmensajerapido {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100000;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.ventanamodalmensajerapido:target {
    opacity:1;
    pointer-events: auto;
}
.ventanamodalmensajerapido > div {
    /*width: 900px;*/
	width: 80%;
	height: 50px;
	
	/*left:150px;
	top:80px;*/
	
    
	position: absolute;
    /*margin: 20% 5%;*/
	margin: 10% 10% 10% 10%;/*top right bottom left*/
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);

}


/*ventana con imagen*/
.ventanamodalimagenimg{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.ventanamodalimagenimg:target {
    opacity:1;
    pointer-events: auto;
}
.ventanamodalimagenimg > div {
    /*width: 900px;*/
	width: 100%; /*90%*/
	height: 100%; /*80%*/
	
	/*left:150px;
	top:80px;*/
	
    
	position: absolute;
    /*margin: 20% 5%;*/
	/*margin: 5% 5% 5% 5%;*//*top right bottom left*/
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/

}
.closeventanamodalimagenimg {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    /*-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;*/
}
.closeventanamodalimagenimg:hover {
    background: #00d9ff;
}

/*fin ventana con imagen*/


/*modal sucursales*/
.ventanamodalimagensucursales {
    position: absolute; /*fixed*/
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(0, 0, 0, 0.8);*/
	background: #ff5500;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.ventanamodalimagensucursales:target {
    opacity:1;
    pointer-events: auto;
}
.ventanamodalimagensucursales > div {
    /*width: 900px;*/
	width: 100%;
	height: 100%;
	
	/*left:150px;
	top:80px;*/
	
    
	position: absolute;
    /*margin: 20% 5%;*/
	margin: 0% 0% 0% 0%;/*top right bottom left*/
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fe4914;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/

}
.closeventanamodalimagensucursales {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.closeventanamodalimagensucursales:hover {
    background: #00d9ff;
}
/*fin modal sucursales*/